#IDE文件
.vs/
.idea/
.vscode/
_ReSharper.CSharp/

#svn
*/.svn/
.svn/

#Excel的临时文件
~$*.xlsx
~$*.xlsx.meta

#Unity相关目录
.gradle
Bundles
Library
Logs
UserSettings
*.csproj
*.vsconfig
ProjectSettings/RiderScriptEditorPersistedState.asset
HybridCLRData
Builds

#Unity/Assets
Unity/Assets/DemoGame/GameRes/Codes/
Unity/Assets/DemoGame/GameRes/Codes.meta
Unity/Assets/DemoGame/GameRes/AotDlls/*
Unity/Assets/DemoGame/GameRes/AotDlls.meta
Unity/Assets/StreamingAssets/
Unity/Assets/StreamingAssets.meta
Unity/Assets/DemoGame/GameRes/Config/JSON


#其他
Log
Logs
obj/
Temp/
yoo
/Assets/DemoGame/GameScript/Hotfix/Generate
